<%- include('./partial/header.ejs') %>
<%- include('./partial/navbar.ejs') %>
<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body>
  <h1>Welcome to the Homepage!</h1>
</body>
</html>
<%- include('./partial/footer.ejs') %>
